/*Footer*/

.site-footer {
    width: 100%;
    margin-top: 40px;
    background-color: #f7f7f7;
    padding-top: 25px;
    text-align: center;
}
.footer-link {
    color: gray;
    list-style: none;
    text-decoration: none;
    text-align: left;   
}
.footer-link:hover {
    color: maroon;
}
