#header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.navbar {
background: rgb(11, 211, 211);

}

.carousel-caption h1 i {
    text-shadow: 5px 5px 5px rgba(0, 0, 0);
    filter: drop-shadow(3px 3px 3px white);
    -webkit-filter: drop-shadow(3px 3px 3px black);
}

.collapse{
    display: flex;
    justify-content:end;
    align-items: end;
}

.navbar-brand{
    color: #fff;
    font-weight: bold;
    font-size: 35px;
}

.nav-link{
    color: #ffffff;
    font-weight: bold;
    margin-right: 25px;
    font-size: larger;
}

.dropdown-menu{
    background: rgba(0, 247, 255, 0.418);
}

.dropdown-item{
    color: #ffffff;
}



/* About Us */


#About-us h1 {
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(0, 0, 0);
}




.text h1 p {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.jumbotron{
    padding: 20px;
    box-shadow: 8px 8px 8px lightgray;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#imglogos img :hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);

}

/* vision and mission */




/* service */

#service {
    background: rgba(1, 204, 255, 0.938);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 8px lightgray;
    justify-content: center;
    align-items: center;
}

#serve {
    box-shadow: 8px 8px 8px #06dbeb;
}

/*facilities */

.facility {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.faci article{
    max-height: 750px;
    min-height: 750px;
    height: 100%;
}

.image-box img {
    width: 100%;
    display: block;
    border-radius: 0px;
    max-height: 300px;
    min-height: 300px;
}

.image-box {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); 
    cursor: pointer;
    transition: clip-path 0.3s ease;
}

.secfac {
    text-align: center;
    font-size: 30px;
}

article {
    padding: 20px;
    background: linear-gradient(to bottom, #8ccdf8 20%, #1036dd 80%);
    margin: 10px;
    color: aliceblue;
}

.content-fac p {
    padding: 20px;
    margin: 25px 0;
    font-size: 16px;
    line-height: 1.5;
    background: rgba(20, 170, 196, 0.541);
    border-radius: 5px;
    max-height: 250px;
    min-height: 250px;
    position: relative;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
  }

::-webkit-scrollbar-thumb {
    background: aqua; 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: aqua; 
  }
  

.content-fac a {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid white;
    padding: 14px 18px;
    transition: all 0.5s ease;
    font-weight: bolder;
}

.content-fac a:hover {
    background: white;
    color:blue
}

.image-box:hover {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@media(min-width: 768px) {
    article {
        flex: 0 0 calc(50% - 20px);
    }
}

@media(min-width: 1170px) {
    article {
        flex: 0 0 calc(25% - 20px);
    }
}




/* Location */

.img{
    margin-top: 10px;
    width: 100%;
    height:100%
}

.img:hover{
    transition: 1s;
    transform: scale(1.1);
    z-index: 1;
}

#locate {
    position:relative;
    border: 10px;
    border-radius: 1pc;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

#locate h3  {
    font-weight: 150;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    margin-top: 8px;
}

/* services */
.services {
    margin-top: 100px;
    justify-content: space-between;

}


/* contact us */

.banner{
    min-height: 100vh;
    background: url("pictures/experiment-lab.gif") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    color: #053070;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    font-size: 20px;


}
.banner p { 
    color: #053070;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 1px;
}

.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}
.card-img{
    background: url("pictures/Logoz.png") center/cover no-repeat;
}
.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    background:linear-gradient(rgba(77, 181, 230, 0.5), rgba(48, 59, 155, 0.295));
    height: 400px;
}
.card-content h3{
    text-align: center;
    color: #05038d;
    padding: 25px 0 10px 0;
    font-size: 28px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    background-color: #0d4599c4;
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #3e11b9;
    font-weight: 300;
}
form input[type = text], form input::placeholder, select{
    color: #ffffff;
}

form input[type = submit]{
    color: #fff;
    font-weight: bold ;
    background: #1fa0c0;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}

@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}

/* footer */
footer {
    background-color:aquamarine;
    color: #fff;
    text-shadow: 1px 0.5px #2b2727;
    padding: 30px 0;
    font-weight: bold;
    margin-top: 30px;
    border: 5px solid rgb(13, 168, 196);
    
}

#ftr {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
}

#ftr1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#ftr2 {
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
}

#ftr2 h3 {
    margin-bottom: 15px;
    color: #fff;
}

#ftr2 h3 ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#ftr2 h3 ul li {
    margin-bottom: 10px;
}

.social-icon li {
    display: inline-block;
    margin-right: 10px;
}
.social-icon li a {
    color: #fff;
    font-size: 30px;
}

.message li {
    list-style: none;
}

@media (max-width:991px) {#ftr2 {
    flex: 0 0 50%;
    max-width: 50%;
}

}


@media (max-width:767px) {#ftr2 {
    flex: 0 0 100%;
    max-width: 100%;
}

}